<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="../scripts/a.js" ></script>
    <script type="text/javascript" src="../scripts/b.js" ></script>
    <link rel="stylesheet" href="../css/a-33c7b76d14.css" />
</head>
<body>
    <h1>
        hello123123asd 
    </h1>
    <h2>
        123123啊是发大12122323
    </h2>
</body>
</html>